アバウトページ

<table class="table table-borderless" style="width:50%;margin-left:25%;margin-top:60px">
  <tbody>
    <td>
      <div class="text-center">
        <br><h1>About</h1><br />
        <br>ながのCAKEは全国発送可能なケーキ屋さんです。<br />
        <br>お子様からお年寄りの方までお召し上がりいただけるよう、<br />
        <br>様々なバリエーションを用意しております。<br />
        <br>また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br />
        <br>ぜひご注文ください。<br />
        <br><%= image_tag "sample.png", size: "400x200" %><br />
      </div>
    </td>
  <tbody>
</table>