商品一覧のindex

<div  class= "container px-5 px-sm-0">
<div class= "row">
   <!-- 画像サイズ -->
<div class= "col-md-3">
<table  style="width:40%;margin-left:2%;margin-top:20px">
  <tbody>
    <tr>
      <td>
        ジャンル検索
      </td>
    </tr>
    <tr>
      <td>
        ケーキ
      </td>
    </tr>
    <tr>
      <td>
        焼き菓子
      </td>
    </tr>
    <tr>
      <td>
        プリン
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        キャンディ
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class= "col-md-9">
  <div class="row">
  <% @items.each do |item| %>
  <div class="col-3">
    <% item.name %>
    <div class="card">
    <%= link_to item_path(id:item) do %>
    <%= image_tag item.get_image(150, 150) %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
</div>

<div table style="width:40%;margin-left:60%;margin-top:90px">
  <%= paginate @items %>
</div>
